@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?ujud6r');
    src:    url('fonts/icomoon.eot?ujud6r#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?ujud6r') format('truetype'),
        url('fonts/icomoon.woff?ujud6r') format('woff'),
        url('fonts/icomoon.svg?ujud6r#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
    content: "\e942";
}
.icon-envelop:before {
    content: "\e945";
}
.icon-menu:before {
    content: "\e9bd";
}
.icon-cancel-circle:before {
    content: "\ea0d";
}

body {
	font-family: 'Allerta', sans-serif;
	margin 0;
}

.container {
	max-width: 800px;
	margin: auto;
}

.background {
	background-image: url('../images/background.png');
	background-size: cover;
}

.header {
	position: relative;
}

.logo {
	margin-left: 0;
}

.logo,
.menu {
	display: inline-block;
}

.responsive-menu{
	border-radius: 50%;
	background: #395667;
	cursor: pointer;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	left: 20px;
	position: absolute;
	top: 20px;
	text-align: center;
	width: 40px;
	z-index: 3;
}



.menu {
	font-size: 24px;
	position: absolute;
	right: 0;
}

.menu li {
	display: inline-block;
 	margin-left: 30px;
}

.menu li a {
	color: #fff;
	text-decoration: none;
}

.cover {
	color: white;
	height: 500px;
	padding: 20px;
}

.cover-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 70px;
	margin-bottom: 30px;
	margin-bottom: 0;
}

.cover-slogan {
	font-size: 24px;
	margin-top: 5px;
	margin-bottom: 30px;
}

.lower-header {
	padding: 20px 0 60px 0;
}

.lower-header .button {
	border: none;
	border-radius: 5px;
	background: linear-gradient(to right, #fe344e, #ff7250);	
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	margin-bottom: 70px;
	text-decoration: none;
	padding: 10px 20px;
}

.lower-header h3 span {
	text-decoration: underline;
}

.gallery {
	color: #1F313C;
	margin-top: 40px;
	margin-bottom: 80px;
}

.gallery-element {
  margin: 10px;
  padding: 10px;
  border: 1px solid #1F313C;	
  border-radius: 8px;
}

.gallery-element.b {
	height: 250px;
}

.gallery-element-image-right {
  float: right;
  position: relative;
  top: -127px;
}

.gallery-element-image-left {
  float: left;
  position: relative;
  top: 70px;
}
 
.gallery-element-description-a {
  padding-left: 20px;
}

.gallery-element-description-b {
	bottom: 30px;
	margin-left: 370px;
	position: relative;
}

.element-title {
	font-size: 52px;
    margin-bottom: 20px;
}

.element-description {
	padding: 0;
}

.footer {
	color: #fff;
	background: #1F313C;
	padding: 50px 10px;
}

.col1, 
.col2 {
	display: flex;
	flex-direction: column;
}

.col2 {
	align-items: flex-start;
}
 
.footer .container {
	display: flex;
	justify-content: space-between;
}

.footer .contact {
	display: flex;
	flex-wrap: wrap;
	height: 200px;
	padding: 100px 10px;
	width: 300px;
}

.footer .contact a {
	color: #fff;
	margin: 10px 10px 10px 0;
	text-decoration: none;
	align-items: center;
}

.footer .contact img {
	display: block;
}

.footer .contact strong {
	display: block;
}

.footer .asunto label {
	font-size: 12px;
}

.form label {
	margin: 10px 0;
}

.form .categoria, 
.form .asunto {
	margin-top: 10px;
}

.form #comentarios {
	margin-bottom: 10px ;
}

.form .col2 input {
	border: none;
	border-radius: 5px;
	background: linear-gradient(to right, #fe344e, #ff7250);
	font-size: 18px;
	color: #fff;
	padding: 10px 20px;
	margin-bottom: 10px;
}

input, textarea {
	outline: 0;
}

input:focus, textarea:focus {
	background: light-grey;
}

/*PRECIOS*/

.tabla-precios {
	width: 100%;
	padding: 100px 40px;
}

.tabla-precios, td, th {
	border: 1px solid #273b47;
	border-collapse: collapse;
}


.tabla-precios td {
	padding: 20px;
}

.tabla-precios th {
	background: #273b47;
	color: #fff;
	padding: 10px 20px;
	text-align: left;
}

@media screen and (max-width: 767px) {
	
	.cover {
		height: auto;
	}

	.cover-title {	
		font-size: 45px;
	}

	.cover-slogan {
		font-size: 18px;
	}

	.gallery {
		text-align: center;
	}

	.element-description {
		list-style: none;
	}

	/*Articulo A*/

	.gallery-element-image-right {
		float: none;
		position: static;
	}

	.gallery-element-description-a {
		padding: 0px;		
	}

	.gallery-element-description-a .element-title {
		margin: 10px 15px 5px 5px;
	}

	/*Articulo B*/

	.gallery-element.b {
		height: auto;
	}

	.gallery-element-image-left {
		float: none;
		position: static;
	}

	.gallery-element-description-b {
		margin: 0;
		padding: 0;		
	}

	.gallery-element-description-b .element-title {
		margin: 10px 15px 5px 5px;
	}
}

@media screen and (max-width: 414px) {
	.cover .container {
		position: static;
	}

	.header {
		text-align: center;
	}

	.button {
		font-size: 14px !important;
	}

	.header .logo {
		margin: 15px;
	}

	.menu {
		align-items: center;
		background: rgba(255, 60, 88, 0.8);
		bottom: 0;
		display: flex;
		left: -100%;
		position: absolute;
		right: 0;
		top: 0;
		transition: .3s;
		width: 100%;
		z-index: 2;
	}

	.menu.active {
		left: 0;
	}

	.menu ul {
		padding: 0;
		flex: 1;
	}

	.menu ul li:first-child {
		margin: 0;
	}

	.menu ul li:last-child {
		border-bottom: 1px solid #fff;		
	}

	.menu ul li {
		border-top: 1px solid #fff;
		margin: 10px 0;
		padding: 15px 0;
		display: block;
	}

	.menu ul li a {
		font-size: 24px;	
	}

	.lower-header {
		text-align: center;
	}

	.gallery-element-image-left {
		width: 200px;
	}

	.gallery-element-image-right {
		width: 200px;
	}

	.element-title {
		font-size: 20px;
	}

	/*Footer*/

	.footer .container {
		display: block;
	}

	.footer .contact {
		display: block;
		font-size: 26px;
		margin: 0 auto;
		max-width: 100%;
		text-align: center;
	}

	.footer .contact img {
		margin: 20px 0 20px 30px ;
	}

	.footer .form {
		display: block;
		font-size: 30px;
		margin: 0 15px;
	}


	.footer .form .col1,
	.footer .form .col2 {
		margin: 0 auto;
		max-width: 90%;
	}

	.asunto label {
		display: block;
		font-size: 30px !important;
	}

	input[type="radio"],
	input[type="checkbox"] {
		zoom: 1.8;
	}

	.col12 input {
		font-size: 24px;
	}
}