body {
	font-family: 'Allerta', sans-serif;
	margin 0;
}

.header {
	background-image: url("../images/background.png");
}

.logo,
.menu {
	display: inline-block;
}

.menu {
	font-size: 24px;
}

.menu li {
	display: inline-block;
}

.menu li a {
	text-decoration: none;
}

.cover {
	color: #fff;

}

.cover-title {
	font-size: 60px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 30px;
}

.cover-slogan {
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
}

.gallery-description {
	color: #1F313C;
	font-size: 35px;
}

.article-electrica-title,
.article-acustica-title {
	font-size: 52px;
}