body {
	background: peru;
	font-family: sans-serif;
}

.post {
	border: 10px solid red;
	background: #fff;
	padding: 20px;
	overflow: hidden;
	text-align: center;
}

img, p{
	transition: .3s;
}

.post img {
	transform: translateY(-300px);

}

.post:hover img {
	transform: translateY(0);
}

.post p {
	transform: translateY(100px);
}

.post:hover p {
	transform: translateY(0);
}

/*CONTENEDOR*/

.contendor {
	font-family: sans-serif;
	margin: 0;
	width: 600px;
}

.transicion {
/*	transition: transition-duration transition-timin-function transition-property*/	
	/*transition-duration: .3s;
	transition-property: opacity;
	transition-timing-function: ease;*/
	transition: .3s;
}

.caja {
	border: 1px solid red;
	height: 200px;
	width: 200px;
}

.opacity {
	opacity: 0;
}

.opacity:hover {
	opacity: 1;
}

.fuente:hover {
	font-size: 20px;
	font-weight: 600;
}

.colores:hover {
	color: #333;
}
